/* Styling for section filters */
.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	position: relative;
	justify-content: flex-end;
	margin: 0 auto;
}
/* Filters button */
.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0px;
	border-radius: 4px;
	margin-right: 30px;
	transition: opacity 0.3s ease, cursor 0.3s ease;
}

.filters button:hover {
	opacity: 0.9;
	cursor: pointer;
}
/* For States and Amenities */
.locations,
.filters .amenities {
	height: 100%;
	width: 25%;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.filters .amenities {
	margin-right: auto;
	margin-left: 60px;
}

.locations {
	border-right: 1px solid #DDDDDD;
	margin-left: 60px;
	display: flex;
	flex-direction: column;
}

.filters .amenities h3,
.locations h3 {
	font-weight: 600;
	margin: 0;
	cursor: pointer;
}

.filters .amenities h4,
.locations h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	cursor: pointer;
}

.popover {
	display: none;
	background-color: #FAFAFA;
	width: 270px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style: none;
	position: absolute;
	top: 100%;
	left: -24.5%;
	margin: 0;
	padding-bottom: 20px;
	z-index: 1;
}

.filters .amenities .popover {
	padding: 40px 0 40px 60px;
	position: absolute;
}

.locations .popover {
	align-items: center;
	padding-top: 5px;
	padding-bottom: 50px;
	position: absolute;
}

.locations:hover .popover,
.filters .amenities:hover .popover {
	display: block;
}

.popover h2 {
	font-size: 16px;
	margin-bottom: 0;
	padding-top: 20px;
}

.popover ul {
	list-style: none;
	margin: 0;
}

.cities {
	padding-left: 20px;
}

.popover li {
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.filters .amenities h4,
	.locations h4 {
		font-size: 12px;
	}

	.filters .amenities,
	.locations {
		margin-left: 30px;
	}

	.filters button {
		width: 22%;
		margin-right: 15px;
	}

  .locations .popover,
  .filters .amenities .popover {
    width: 100%; /* Adjust the width for smaller screens */
  }

	.locations .popover {
		left: 0;
		width: calc(100% + 20px);
		margin-left: -60px; /* Reduce the margin on smaller screens */
		padding-top: 18px;
		padding-bottom: 40px;
	}

  .filters .amenities .popover {
		left: 0;
    margin-left: -62px; /* Reduce margin for amenities popover */
		padding-left: 60px;
  }

  .popover h2 {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }

  .popover ul {
    padding-left: 20px; /* Adjust padding for list items */
  }

	.filters {
		width: 96%;
	}
}
